    *{
        margin: 0;
        padding: 0;
        font-family: 'Roboto', Arial, Helvetica, sans-serif; 
    }

    body{
        background: radial-gradient(circle, rgba(248,233,220,1) 50%, rgba(255,255,255,1) 100%);
        background-repeat:no-repeat;
        background-attachment: fixed;
    }

    #main{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        width: 77vw;
        height: 100vh;
        margin: auto;
    }

    header{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: inherit;
        height: 18vh;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border: 0.326vh solid #FF9182;
        background: #BF4332;
        box-shadow: 0px 0px 26px -1px rgba(125, 41, 29, 0.37);
        color: #FFF;
        overflow: auto;
    }

    #theme{
        width: 130px;
        height: 20px;
    }

    #generateur{
        display:flex;
        width: inherit;
        height: 25vh;
        justify-content: space-between;
    }

    #recherche{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 52%;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border: 0.326vh solid #30918C;
        background: #0B3230;
        box-shadow: 0px 0px 26px -1px rgba(21, 81, 78, 0.50);
        padding-top: 1%;
        padding-bottom: 1%;
        color: #FFF;
        overflow: auto;
    }

    #bouton{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    #search-box{
        display: flex;
        margin: auto;
        width: 80%;
        height: 36%;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border-style: none;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(255, 255, 255, 0.26);
        text-align: center;
        font-size: large;
    }

    button{
        width: 9vw;
        height: 4vh;
        flex-shrink: 0;
        border-radius: 2.720vh;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(255, 255, 255, 0.26);
        cursor: pointer;
        border-style: none;
        overflow: hidden;
    }

    #boite{
        flex-shrink: 0;
        width: 45%;
        border-radius: 2.720vh;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
        overflow-y: auto;
        word-break: break-all;
        scrollbar-width: thin;
        text-align: left;
        padding: 10px;
    }

    #lien {
        color: black;
        text-decoration: none;
        word-wrap: break-word;
        white-space: normal;
        max-width: 100%;
    }

    .cat{
        height: inherit;
        overflow:auto;
        scrollbar-width: none;
        flex-shrink: 0; 
        border-radius: 2.720vh;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        text-align: left;
    }

    .scroll{
        width: 316.02px;
        height: 300px;
        flex-shrink: 0; 
        border-radius: 2.720vh;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
    }

    .filtreNom{
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 18px;
    }

    #filtres{
        display:flex;
        justify-content: left;
        flex-direction: column;
        width: inherit;
        height: 49vh;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border: 0.326vh solid #F2BC8D;
        background: #FFDABA;
        box-shadow: 0px 0px 26px -1px rgba(196, 167, 143, 0.50);
        overflow: auto;
    }

    #selecteur{
        display:flex;
        align-items: center;
        background: #FFF;
        width: 210px;
        border-radius: 2.720vh;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
        gap: 10px;
        padding-left: 10px;
        margin-left: 2.5%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    select{
        width: 195px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border-style: none;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
        text-align: center;
        font-size: 15px;
    }

    #cumul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }

    @media screen and (max-width: 1000px) {
        #cumul {
            flex-direction: column;
        }
    }

    li{
        list-style-type:none;
        padding-bottom: 5px;
    }

    .st{
        padding-top: 15px;
    }
