    *{
        margin: 0;
        padding: 0;
        font-family: 'Roboto', Arial, Helvetica, sans-serif; 
    }

    body{
        background: radial-gradient(circle, rgba(248,233,220,1) 50%, rgba(255,255,255,1) 100%);
        background-repeat:no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: flex-end
    }

    #main{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        width: 77vw;
        height: 100vh;
        margin: auto;
    }

    header{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: inherit;
        height: 18vh;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border: 0.326vh solid #FF9182;
        background: #BF4332;
        box-shadow: 0px 0px 26px -1px rgba(125, 41, 29, 0.37);
        color: #FFF;
        overflow: auto;
    }

    h1{
        font-size: xx-large;
    }

    nav{
        font-size: x-large;
    }

	#indice{
	font-size: large;
	}

    #theme{
        width: 130px;
        height: 20px;
    }

    #generateur{
        display:flex;
        width: inherit;
        height: 25vh;
        justify-content: space-between;
    }

    #recherche{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 52%;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border: 0.326vh solid #30918C;
        background: #0B3230;
        box-shadow: 0px 0px 26px -1px rgba(21, 81, 78, 0.50);
        padding-top: 1%;
        padding-bottom: 1%;
        color: #FFF;
        overflow: auto;
    }

    #bouton{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    #search-box{
        display: flex;
        margin: auto;
        width: 80%;
        height: 36%;
        border-radius: 2.720vh;
        border-style: none;
        background: #FFF;
        text-align: center;
        font-size: large;
    }

	#search-box:hover{
		box-shadow: 0px 0px 26px -1px rgba(222, 222, 222, 0.26);
	}

	#search-box:active{
		box-shadow: 0px 0px 26px -1px rgba(255, 255, 255, 0.26);
	}



    button{
        width: 9vw;
        height: 4vh;
        flex-shrink: 0;
        border-radius: 2.720vh;
        background: #FFF;
        cursor: pointer;
        border-style: none;
        overflow: hidden;
    }

    button:hover{
        box-shadow: 0px 0px 26px -1px rgba(255, 255, 255, 0.26);
	background: #e8f7eb;
    }

    #boite{
        width: 36vw;
        border-radius: 2.720vh;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
        overflow-y: auto;
        word-break: break-all;
        scrollbar-width: thin;
        text-align: left;
        padding:0.8%;
        box-sizing: border-box; 
    }

    #lien {
        color: black;
        text-decoration: none;
        word-wrap: break-word;
        white-space: normal;
        max-width: 100%;
        border: 20px;
    }

    .cat{
        height: inherit;
        overflow:auto;
        scrollbar-width: thin;
        flex-shrink: 0; 
        border-radius: 2.720vh;
        border-bottom-right-radius: 0%;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        text-align: left;
    }

    .scroll{
        width: 16vw;
        height: 32vh;
        flex-shrink: 0; 
        border-radius: 2.720vh;
        border-bottom-right-radius: 0%;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
    }

    #date{
        display: flex;
        text-align: center;
        font-size: larger;
        align-items: center;
        justify-content: center;
        border-radius: 2.720vh;
    }

    #date1, #date2{
        display: flex;
        margin: auto;
        width: 40%;
        height: 4vh;
        border-radius: 2.720vh;
        border-style:solid;
        text-align: center;
        font-size: large;
        margin-top: 2%;
    }

    .filtreNom{
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 18px;
    }

    #filtres{
        display:flex;
        justify-content: left;
        flex-direction: column;
        width: inherit;
        height: 49vh;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border: 0.326vh solid #f2bc8d;
        background: #FFDABA;
        box-shadow: 0px 0px 26px -1px rgba(196, 167, 143, 0.50);
        overflow: auto;
    }

	#choix{
		display:flex;
		flex-direction:row;
		gap:3vw;
	}

    .selecteur{
        display:flex;
        align-items: center;
        background: #FFF;
        width: 10vw;
        height: 5vh;
        border-radius: 2.720vh;
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
        gap: 10px;
        padding-left: 10px;
        margin-left: 2.5%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    select{
        width: 10vw;
        height: 5vh;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border-style: none;
        background: #FFF;
        text-align: center;
        font-size: 15px;
    }

	select:hover{
	box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
	background: #f0f0f0;
	}
	
    #cumul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }

    li{
        list-style-type:none;
        padding-bottom: 5px;
    }

    .st{
        padding-top: 15px;
    }

    #about{
        border-style: solid;
        margin-bottom: 2vh;
        margin-right: 1vw;
        width: 6vw;
        height: auto;
        border-color: #0000007c;
        background: #FFF;
        box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.226);
    }

    #about:hover{
        box-shadow: 0px 0px 26px -1px rgba(191, 67, 50, 0.47);
        border-color: #4e4e4e7c;
    }

    #page2{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: inherit;
        height: 96vh;
        flex-shrink: 0;
        border-radius: 2.720vh;
        border: 0.326vh solid #f2bc8d;
        background: radial-gradient(circle, rgba(248,233,220,1) 50%, rgba(255,255,255,1) 100%);
        box-shadow: 0px 0px 26px -1px rgba(125, 41, 29, 0.37);
        color: #000;
        overflow: auto;
    }

    #titreP{
        padding: 1%;
        width: 80%;
        border-radius: 2.720vh;
        border: 0.326vh solid #FF9182;
        background: #BF4332;
        box-shadow: 0px 0px 26px -1px rgba(125, 41, 29, 0.37);
        color: #FFF;
    }

    #para{
        width: 80%;
        font-size: x-large;
        border-radius: 2.720vh;
        border: 0.326vh solid #30918C;
        background: #0B3230;
        box-shadow: 0px 0px 26px -1px rgba(21, 81, 78, 0.50);
        padding: 1%;
        color: #FFF;
        overflow: auto;
    }

    .lien2{
        color: aliceblue;
    }

    @media screen and (max-width: 1000px) {
        #cumul {
            flex-direction: column;
        }
        .scroll{
            width: 50vw;
            padding-bottom: 5%;
        }
        body{
            flex-direction: column;
            align-items: center;
        }
        #about{
            width: auto;
            height: auto;
        }
    }
